html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: --webkit-fill-available;
}


* , *::after , *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}


body {
    font-size: 1.6rem;
    height: --webkit-fill-available;

}


input {
    border: none;
}


a {text-decoration: none;}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}