

$shadow-50 : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-100 : rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;



$work-sans : "Work Sans", sans-serif;
$poppins : "Poppins", sans-serif;


//Colors 
$gray :#ABB7C2;