@import "../../sass/variables";
@import "../../sass/responsive";

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        .logo {
            width: 268px;
            height: 64px;

            @include lg {
                width: 200px;
                height: 40px;
            }

            @include md {
                width: 150px;
                height: 40px;
            }

            @include sm {
                width: 140px;
                height: 40px;
            }
            
        }

        .cover {
            max-width: 100%;
            height: 700px;
            position: relative;


            @include lg {
                height: 550px;
            }
            @include md {
            
            }
            @include sm { 
            }

            &__img {
                width: 100%;
                height: 600px;
                object-fit: cover;
                border-radius: 12px;

                @include lg {
                    height: 450px;
                }

                @include sm {
                    width: 100%;
                    object-fit: fill;
                }
            }

            &__txt {
                box-shadow: $shadow-100;  
                background-color: white;
                height: 200px;
                width: 600px;
                position: absolute;
                left: 3%;
                bottom: 0;
                border-radius: 12px;
                padding: 40px;

                @include lg {
                    height: 140px;
                    width: 450px;
                    padding: 25px;
                    bottom: 5%;
                }

                @include md {
                    height: 120px;
                    width: 400px;
                    padding: 25px;
                    bottom: 10%;
                    left: 3%;
                }

                @include sm {
                    height: 80px;
                    width: 250px;
                    padding: 10px;
                    left: 12%;
                    bottom: 12%;
                }
                
                p {
                    font-family: $work-sans;
                    font-size: $txt-xl;
                    font-weight: 600;
                }
            }
        }
    }


    .characters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-family: $work-sans;

        @include lg {

        }

        @include md {
            
        }

        &__title {
            font-size: $txt-2xl;

            @include sm {
                margin-left: 25px;
            }
        }

    }




}