@import "../../sass/responsive";
@import "../../sass/variables";

.card {
    width: 392px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #E8E8EA;
    border-radius: 12px;
    padding: 16px;

    @include lg {
        width: 300px;
        height: 500px;
    }

    @include md {
        width: 250px;
        height: 250px;
    }

    @include sm {
        width: fit-content;
        height: fit-content;
    }

    &__image {
        object-fit: fill;
        border-radius: 6px;
        width: 100%;
    }


    &__specie {
        font-size: $txt-xs;
        background-color: $light-blue;
        width: 69px;
        padding: 5px;
        text-align: center;
        color: $blue;
        border-radius: 5px;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        span {
            font-size: $txt-md;
            color: $txt-dark;
            font-weight: 600;
        }
    }

    &__details {
        width: 88px;
        padding: 5px;
        font-size: 1.4rem;
        color: $green;
        background-color: $light-green;
        border-radius: 5px 0;
        text-align: center;
    }

}