@import "../../sass/variables";
@import "../../sass/responsive";


.search {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 32px;
    box-shadow: $shadow-50;
    font-size: $txt-lg;


    @include lg {
        width: 400px;
        height: 45px;
    }

    @include md {
        width: 350px;
        height: 40px;
    }

    @include sm {
        max-width: fit-content;
        height: 40px;
    }
    
    


    &__input {
        border: none;
        font-family: $poppins;
        font-size: $txt-lg;


        @include sm {
            width: 50%;
        }

        &::placeholder {
            color: $gray;
            font-size: $txt-lg;
        }
    }

    &__icon {
        width: 30px;
        height: 30px;

        @include sm {
            width: 25px;
            height: 25px;
        }
    }
}