@import "../../sass/variables";
@import "../../sass/responsive";


.search {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border-radius: 32px;
    box-shadow: $shadow-50;
    font-size: 1.8rem;


    @include lg {
        width: 400px;
        height: 45px;
    }

    @include md {
        width: 350px;
        height: 40px;
    }

    @include sm {
        width: fit-content;
        height: 40px;
    }
    
    


    &__input {
        border: none;
        flex: 1;
        font-family: $poppins;

        &::placeholder {
            color: $gray;
            font-size: $txt-lg;
        }
    }

    &__icon {
        font-size: $txt-lg;

    }
}